* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  width: 100%;
  background: linear-gradient(#f2f6ef, lightblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 4px solid #341c02;
  border-bottom: 4px solid #341c02;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navbar img {
  height: auto;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #341c02;
}
.about-intro {
  background-image: url("../IMAGES/plane.jpg");
  width: 100%;
  height: 450px;
  align-self: stretch;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #341c02;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-intro h1 {
  background-color: rgba(173, 216, 230, 0.6);
  font-size: 38px;
  border-radius: 12px;
  padding: 20px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: #f2f6ef;
  color: #341c02;
}
.about {
  display: flex;
  padding: 50px;
  gap: 50px;
}

/* LEFT */
.about-left {
  position: relative;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-image img {
  width: 100%;
  border-radius: 20px;
}

.badge {
  position: absolute;
  top: -20px;
  right: 50px;
  background: orange;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.circle-image {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid white;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats {
  position: absolute;
  bottom: -20px;
  left: 20px;
  background: navy;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

/* RIGHT */
.about-right {
  width: 40%;
}
.about-right .intro {
  font-weight: bold;
}
.about-right h1 {
  margin: 20px 0;
}

.features {
  margin: 20px 0;
}

.features li {
  margin-bottom: 10px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.services ul li {
  margin-bottom: 10px;
}

.cta {
  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../IMAGES/plaaaaaaaa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 50px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  max-width: 100%;
}
.cta-intro {
  color: #f2f6ef;
  width: 50%;
}
.cta-intro h2 {
  font-size: 32px;
  font-family: new;
  margin: 10px 0 10px 0;
}

.cta-intro p {
  font-size: 20px;
  font-family: new1;
}
.cta-features {
  background-color: #f2f6ef;
  color: black;
  padding: 5px;
  border-radius: 15px;
  width: 30%;
}
.features-list i {
  margin-right: 10px;
  color: rgb(11, 11, 157);
}
.features-list li {
  color: #341c02;
  margin: 25px 0 25px 25px;
  list-style: none;
}
.cta-features h3 {
  font-size: 36px;
  font-family: new;
  margin-top: 8px;
  margin-left: 25px;
  color: #341c02;
}
.cta-features p {
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background: lightblue;
  flex-wrap: wrap;
  color: #341c02;
  width: 100%;
}

footer h4 {
  margin-bottom: 15px;
}

.footer-links nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links a:hover {
  text-decoration: underline;
}
.footer-newsletter input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 15px 0;
}
.footer-newsletter {
  text-align: center;
}
.footer-newsletter button {
  background: #f4b400;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer-newsletter button:hover {
  background: #d99a00;
}

.footer-social a {
  margin-right: 10px;
}

.footer-social img {
  border-radius: 50%;
  transition: 0.3s;
}

.footer-social img:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  body {
    padding-top: 180px;
  }
  .about-section {
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .cta {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .cta-intro {
    width: 100%;
    text-align: center;
  }

  .cta-features {
    width: 60%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 100px;
  }

  .navbar {
    flex-direction: column;
  }
  nav {
    margin-top: 10px;
  }

  nav a {
    display: inline;
    margin: 8px 10px;
    font-size: 14px;
  }
  nav {
    margin-top: 10px;
  }

  .cta-features {
    width: 90%;
    margin-top: 20px;
  }
  .about-intro {
    height: 300px;
  }

  .about-intro h1 {
    font-size: 28px;
    padding: 10px;
  }

  .about-section {
    margin-top: 100px;
  }

  .badge {
    right: 10px;
    padding: 10px;
  }

  .stats {
    left: 10px;
    padding: 10px;
  }

  .circle-image {
    width: 100px;
    height: 100px;
    bottom: 20px;
  }

  .cta-intro h2 {
    font-size: 24px;
  }

  .cta-intro p {
    font-size: 16px;
  }

  .cta-features h3 {
    font-size: 24px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-links nav {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .about-intro {
    height: 250px;
  }
  .about-section {
    margin-top: 80px;
  }
  .about-intro h1 {
    font-size: 22px;
  }

  .features li {
    font-size: 14px;
  }

  .services ul li {
    font-size: 14px;
  }

  .cta {
    padding: 20px;
  }

  .footer-newsletter input {
    padding: 10px;
  }

  .footer-newsletter button {
    width: 100%;
  }
}
@media (max-width: 330px) {
  .about-intro {
    height: 250px;
  }
  .about-section {
    margin-top: 80px;
  }
  .about-intro h1 {
    font-size: 22px;
  }

  .features li {
    font-size: 14px;
  }

  .services ul li {
    font-size: 14px;
  }

  .cta {
    padding: 20px;
  }

  nav a {
    display: inline;
    margin: 8px 6px;
    font-size: 14px;
  }
  .footer-newsletter input {
    padding: 10px;
  }

  .footer-newsletter button {
    width: 100%;
  }
  .cta-features {
    width: 100%;
    margin-top: 20px;
  }
}
