* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f2f6ef;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  width: 100%;
  background: linear-gradient(#f2f6ef, lightblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 4px solid #341c02;
  border-bottom: 4px solid #341c02;
}
header img {
  height: auto;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #341c02;
}

.grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  overflow: hidden;
}
.grid figure {
  margin: 20px 0 20px 0;
}
.grid figure .img-box {
  width: 380px;
  height: 420px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.grid figure .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}
.grid figure:hover img {
  transform: scale(1.1);
}
.grid figure figcaption {
  margin: 10px 10px 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.grid figure figcaption img {
  transition: transform 0.6s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}
.grid figure figcaption:hover img {
  transform: translateX(15px);
}
.grid figure p {
  margin: 8px 12px 8px 12px;
  font-size: 13px;
}
