* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  background: linear-gradient(#f2f6ef, lightblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 4px solid #341c02;
  border-bottom: 4px solid #341c02;
}
header img {
  height: auto;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #341c02;
}

.grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
  overflow: hidden;
}
figure {
  margin: 20px 0 20px 0;
  position: relative;
  overflow: hidden;
}
figure img {
  border-radius: 20px;
  height: 440px;
  width: 380px;
  margin-bottom: 10px;
}
figure:hover img {
  transform: scale(1.05);
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 0.1);
}
